ul{
  list-style:none;
  padding: 0;
}
.list_item{
  margin: 10px;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 2px solid red;
  background-color: whitesmoke;
  background-image: linear-gradient(to right,#CC0000,0.1%,whitesmoke);
  display: inline;
  float:left;
}
.titleAndText {
  text-align: left;
}
.authorAndDate {
  text-align: right;
}

#title{
  color: red;
  font-family: "Times New Roman", Times, serif;
}
#shortText{
  font-family: "Times New Roman", Times, serif;
  font-size: 12px;
}
#author{
  font-style: italic;
  font-family: "Times New Roman", Times, serif;
  font-size: 12px;
}
#date{
  font-family: "Times New Roman", Times, serif;
  font-weight:bold;
  font-size: 12px;
}
